.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Manejo de Sustratos y Fertilización en Agricultura Urbana
            h1.curso-titulo Fertilización en Agricultura Urbana

            .brand-line-primary

            p.curso-descripcion Este material de formación permite conocer cómo se realiza la fertilización en la agricultura urbana, conocer las mezclas para la preparación de sustratos y comprender  las operaciones con compost y humus de lombriz.

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")