.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody

        
            tr
                td Ortiz R. A. Evaluación del efecto de tres fertilizantes orgánicos a tres dosis diferentes sobre la tasa de crecimiento y rendimiento del frijol (Phaseolus vulgaris) l. Var. Cerinza, en condiciones de agricultura urbana.
                td Tesis
                td 
                    a(href="media/documentos/complementarios/MC_AA3_Evaluacion_del_efecto_de_tres_fertilizantes_organicos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td FAO. Manual de compostaje del agricultor. Experiencias en América Latina.

                td Cartilla
                td 
                    a(href="media/documentos/complementarios/MC_AA3_Manual_de_compostaje_del_agricultor.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

            tr
                td Arce B. y Peña A. Sustratos comerciales para la Agricultura Urbana en Bogotá.
                td Artículo
                td 
                    a(href="media/documentos/complementarios/MC_AA3_Sustratos_comerciales_para_la_agricultura_urbana_en_Bogota.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


                                       