.container

  ol

    li 
      p Borrero., C. A. (s.f.-b). Abonos orgánicos. 
        a(href="https://www.infoagro.com/documentos/abonos_organicos.asp", target="_blank") https://www.infoagro.com/documentos/abonos_organicos.asp

    li 
      p Basterrechea, M. (2014, junio). conceptos básicos de hidroponía #1: Nutrientes para hidroponía. 
        a(href="https://www.hidroponiacasera.net/guia-basica-de-nutrientes-para-hidroponia/", target="_blank") https://www.hidroponiacasera.net/guia-basica-de-nutrientes-para-hidroponia/

    li 
      p Brechelt, A. (2004, agosto). Manejo Ecológico del Suelo [Manual]. 
        a(href="http://bioinsumosagric.ucoz.com/_ld/0/90_Manejo_Ecologic.pdf", target="_blank") http://bioinsumosagric.ucoz.com/_ld/0/90_Manejo_Ecologic.pdf

    li 
      p EstoEsAgricultura. (2017, marzo). Tipos de sustrato para plantas y cultivos [Publicación en un blog].         
        a(href="https://estoesagricultura.com/tipos-de-sustrato-para-nuestros-cultivos", target="_blank") https://estoesagricultura.com/tipos-de-sustrato-para-nuestros-cultivos

    li 
      p FAO. (2013). Manual de compostaje del agricultor Experiencias en América Latina. 
        a(href="http://www.fao.org/3/a-i3388s.pdf", target="_blank") http://www.fao.org/3/a-i3388s.pdf

    li 
      p Junta de Andalucía. (s.f.). Manual básico de agricultura ecológica [Manual]. 
        a(href="https://www.juntadeandalucia.es/export/drupaljda/tecnica_para_nutricion.pdf", target="_blank") https://www.juntadeandalucia.es/export/drupaljda/tecnica_para_nutricion.pdf

    li 
      p Salamanca Córdoba, N. L. (2016). Balance del programa de agricultura urbana liderado por el Jardín Botánico De Bogotá José Celestino Mutis [Trabajo de Pregrado]. 
        a(href="http://repository.udistrital.edu.co/bitstream/11349/4921/1/SalamancaCordobaNestorLeonardo2016.pdf", target="_blank") http://repository.udistrital.edu.co/bitstream/11349/4921/1/SalamancaCordobaNestorLeonardo2016.pdf

    li 
      p Valenzuela López T, M., Díaz Valdés, T., & Osuna Rodríguez, J. M. (2010). Manejo de sustratos en la Agricultura. 
        a(href="http://www.portaldelagro.com/index.php?option=com_content&view=article&id=411:manejo-de-sustratos-en-la-agricultura&catid=39:noticias&Itemid=58  ", target="_blank") http://www.portaldelagro.com/index.php?option=com_content&view=article&id=411:manejo-de-sustratos-en-la-agricultura&catid=39:noticias&Itemid=58   