include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h1 2. Lombricompuesto 

    #tema-21.header-ecored
        h2 2.1 Definición  

    p Lombriabono o humus de lombriz, es el producto obtenido de la digestión de la lombriz y es uno de los mejores abonos orgánicos, porque está compuesto no solo de altos contenidos de macronutrientes, sino también, por pequeñas cantidades de micronutrientes. Por lo tanto, ofrece a los cultivos una alimentación equilibrada con los elementos básicos utilizables y asimilables por sus raíces, por todo lo anterior, la gran utilización de este material en los programas de agricultura urbana como una componente de los sustratos. 
    
    p.text-center.my-5
        img(src="assets/images/pages/tema-2/t21.svg").img-fluid.mb-3.mb-md-0    


    #tema-22.header-ecored
        h2 2.2 Ventajas

    .bg-brand-color-light.p-5.mt-5.mb-0
        h3.text-white.font-weight-bold.text-center.m-0 El humus de lombriz tiene múltiples ventajas con respecto a otros materiales utilizados de agricultura urbana, como las siguientes:  

    p.text-center.mt-o.mb-5
        img(src="assets/images/pages/tema-2/t22.svg", style="max-width:600px").img-fluid.mb-3.mb-md-0   

    #tema-23.header-ecored.my-5
        h2 2.3 Características de la lombriz   

    p.text-center.my-5
        img(src="assets/images/pages/tema-2/t23.svg").img-fluid.mb-3.mb-md-0  

    p Para la producción de este humus se utiliza específicamente la Lombriz Roja Californiana de la especie a Eisenia foetida, cuyas características más relevantes son: 

    ul.bg-color-dark.my-5
        li 
            span Son muy longevas, pueden vivir hasta los 16 años.
        li 
            span Su peso promedio es de 1 gramo y alcanza un tamaño entre seis a diez cm.
        li 
            span Tiene cinco corazones, seis pares de riñones y 182 conductos excretores.
        li 
            span Respira por la piel.
        li 
            span Se alimenta de todo tipo de desechos orgánicos.
        li 
            span Su aparato digestivo humifica en pocas horas lo que tarda años en la naturaleza.
        li 
            span Expulsa el 60% de la materia orgánica después de su digestión.
        li 
            span 100.000 lombrices ocupando 2 m2 son capaces de producir 2 kg humos/día.
        li 
            span Puede vivir en poblaciones de hasta 50.000 por m2.
        li 
            span Es hermafrodita.
        li 
            span Madura sexualmente entre el segundo y tercer mes de vida.
        li 
            span Una lombriz adulta es capaz de tener 1.500 crías en un año. 


    #tema-24.header-ecored.my-5
        h2 2.4 Características del humus  

    p El humus de lombriz posee características físicas, químicas y biológicas como las que se ven en el siguiente diagrama: 


    p.text-center.my-5
        img(src="assets/images/pages/tema-2/t24.svg").img-fluid.mb-3.mb-md-0  


    #tema-25.header-ecored.mt-7.mb-5
        h2 2.5 Instalación de la Lombricultura 

    p En el siguiente diagrama se muestra la secuencia lógica para la instalación de la lombricultura y la producción de humus.


    p.text-center.my-5
        img(src="assets/images/pages/tema-2/t25.svg", style="max-width: 800px").img-fluid.mb-3.mb-md-0  
          